*{
margin: 0;
padding: 0;
}
.center{
  margin: 0 auto;
  width: 1280px;
  position: relative;
}
ul,li{
  list-style: none;
}
em{
  font-style: normal;
}
a{
  text-decoration: none;
}
button{
  background-color: rgb(254, 195, 250);
  color:#101010;
  border: none;
  font-size: 14px;
  padding: 2px 5px;
  box-sizing: border-box;
  border-radius: 10px;
}